/*** index_section_concept ***/
.index_section_concept_bloc
{
    display: flex;
    flex-wrap: wrap;
}

/** article **/
.index_section_concept_bloc article
{
    border: 2px solid black;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .container_2
    {
        width: 100%!important;
        margin: 0;
    }
    /*** index_section_bloc ***/
    .index_section_bloc
    {
        min-height: 0!important;
    }  
    /*** index section ***/
    .index_section_logo
    {
        width: 100%!important;
    }
    .index_section_logo_about
    {
        width: 70%!important;
    }
    .button_down
    {
        display: none;
    }

    /*** index_section_concept_bloc ***/
    .index_section_concept_bloc article
    {
        width: 70%!important;
        margin: 20px auto;
        
    }
}

@media (max-width: 768px) {

    .container_2
    {
        width: 100%!important;
        margin: 0;
    }

    /*** index_section_concept_bloc ***/
    .index_section_concept_bloc
    {
        padding: 0 20px 0 20px;
    }
    .index_section_concept_bloc article
    {
        width: 100%;
    }
    

}