/*** article_spirit ***/
.article_spirit_list p
{
    text-align: justify;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .container
    {
        width: 90%!important;
    }

    /*** article_spirit ***/
    .article_spirit
    {
        width: 100%!important;
    }
}

@media (max-width: 768px) {

    .container
    {
        width: 90%!important;
    }

    /*** article_spirit ***/
    .article_spirit
    {
        width: 100%!important;
    }
    
}